select {
    border: 2px solid #385d8a;
    border-radius: 0;
    box-sizing: border-box;
    background-color: #e1eaf4;
}

button {
    border: 2px solid #385d8a;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #4f81bd;
    font-size: 20px;
    color: white;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: auto;
    margin-top: -18em;
    margin-left: -15em;
    padding: 56px 56px;
    border: 2px solid #385d8a;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
}

.col1 {
    display: flex;
    flex: 1;
    padding: 10px 15px;
}

.col2 {
    display: flex;
    flex: 3;
    justify-content: flex-start;
}

.label {
    background-color: #4f81bd;
    border: 2px solid #385d8a;
    color: white;
    font-size: 18px;
    justify-content: center;
    /* align-items: center; */
    padding: auto;
}

.required:after {
    content: " *";
    color: red;
}